* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E3A8A;
    --secondary-color: #033e21;
    --accent1-color: #E56B4F;
    --accent2-color: #76A9A7;
    --accent3-color: #B3B3B3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: var(--primary-color);
}

header img {
    width: 120px;
    border-radius: 10%;
}

nav a {
    color: #F8F9FA;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--accent1-color);
}

/* Hero Section */
.hero {
    position: relative;
    overflow-y: hidden;
    margin: 10px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}

.hero h1 {
    font-size: 2.5rem;
    margin: 0.5em 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #b3b3b3ce;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.hero article img {
    height: 110px;
    width: 100px;
    float: right; 
}


.hero article {
    position: absolute; 
    bottom: 5rem; 
    background-color: #b3b3b3ce; 
    padding: clamp(1rem, 3vw, 2rem);
    color: #000;
    margin: 0 1rem; 
}

.hero article p {
    padding-top: 20px; 
    font-size: 1.1rem;
}
/* Adventure Section */
.adventure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.adventure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer */
footer {
    background: var(--primary-color);
    text-align: center;
    padding: 20px;
    color: white;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.icons img {
    width: 30px;
    height: 30px;
}