/* Global Reset */

aside h2 {
    position: absolute ;
    top: 85px;
    left: 150px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation Styling */
nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


nav a {
    color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.grid {
    display: grid;
    align-items: center;
}

/* Heading */
        .grid {
    max-width: 840px;
    margin: 0 auto;
    
}

main {
    margin: 1rem;
    grid-column: 2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: block;
}

main {
    display: block;
}
body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

/* Main Section Image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;

}

/* Aside Styling */
aside {
    width: 20rem;
    position: relative;
    grid-row: 1;
}

aside {
    display: block;
}

/* Image in Aside */
aside img {
    width: 250px;
    height: auto;
    margin-bottom: 1rem;
}

/* Footer Styling */
footer {
    margin-top: 2rem;
    border-top: 2px solid #000;
    text-align: center;
    padding-top: 1rem;
}

/* List Styling */
ul.box {
    margin: 2rem;
    padding: 1rem;
    list-style-type: none;
    background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
}

ul.box li {
    margin-bottom: 0.5rem;
}

/* Paragraph Styling */
p {
    padding: 0;
}